@import "";
ul {margin:0 0 auto}

.highlight{color:#d0d0d0}
.highlight table td{padding:5px}
.highlight table pre{margin:0}
.highlight .w{color:#d0d0d0}
.highlight .err{color:#151515;background-color:#ac4142}

.highlight .c,.highlight .cd,.highlight .cm,.highlight .c1,.highlight .cs{color:#888}

.highlight .cp{color:#f4bf75}
.highlight .o,.highlight .ow{color:#f4bf75}
.highlight .p,.highlight .pi{color:#d0d0d0}
.highlight .gi{color:#90a959}
.highlight .gd{color:#ac4142}
.highlight .gh{color:#6a9fb5;font-weight:bold}
.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv{color:#aa759f}
.highlight .kc,.highlight .kt,.highlight .kd{color:#d28445}
.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .sh,.highlight .sx,.highlight .s1{color:#90a959}
.highlight .sr{color:#75b5aa}
.highlight .si,.highlight .se{color:#8f5536}
.highlight .nt,.highlight .nn,.highlight .nc,.highlight .no{color:#f4bf75}
.highlight .na{color:#6a9fb5}
.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .il,.highlight .mo,.highlight .mb,.highlight .mx{color:#90a959}
.highlight .ss{color:#90a959}


body{margin:0;padding:0;background:#190e1d url("../images/bkg.png") 0 0;color:#eaeaea;font-size:16px;line-height:1.5;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif}
.container{width:90%;max-width:1000px;margin:0 auto}
section{display:block;margin:0 0 20px 0}
h1,h2,h3,h4,h5,h6{margin:0 0 20px}
li{line-height:1.4}
header{background:rgba(0,0,0,0.1);width:100%;border-bottom:1px dashed #b5e853;padding:20px 0;margin:0 0 40px 0}
header h1{font-size:30px;line-height:1.5;margin:0 0 0 -40px;font-weight:bold;font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;color:#b5e853;text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);letter-spacing:-1px;-webkit-font-smoothing:antialiased}
@media (max-width: 1000px){header h1{margin-left:0}
}
header h1:before{content:"./ ";font-size:24px}
header h2{font-size:18px;font-weight:300;color:#666}
#downloads .btn{display:inline-block;text-align:center;margin:0}
#main_content{width:100%;-webkit-font-smoothing:antialiased}
section img{max-width:100%}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;color:#b5e853;letter-spacing:-0.03em;text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1)}
#main_content h1{font-size:30px}
#main_content h2{font-size:24px}
#main_content h3{font-size:18px}
#main_content h4{font-size:14px}
#main_content h5{font-size:12px;text-transform:uppercase;margin:0 0 5px 0}
#main_content h6{font-size:12px;text-transform:uppercase;color:#999;margin:0 0 5px 0}
dt{font-style:italic;font-weight:bold}
blockquote{color:#aaa;padding-left:10px;border-left:1px dotted #666}
pre{background:rgba(0,0,0,0.9);border:1px solid rgba(255,255,255,0.15);padding:10px;font-size:16px;color:#b5e853;border-radius:2px;word-wrap:normal;overflow:auto;overflow-y:hidden}
code.highlighter-rouge{background:rgba(0,0,0,0.9);border:1px solid rgba(255,255,255,0.15);padding:0px 3px;margin:0px -3px;color:#aa759f;border-radius:2px}
table{width:100%;margin:0 0 20px 0}
th{text-align:left;border-bottom:1px dashed #b5e853;padding:5px 10px}
td{padding:5px 10px}
hr{height:0;border:0;border-bottom:1px dashed #b5e853;color:#b5e853}
.btn{display:inline-block;background:-webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));padding:8px 18px;border-radius:50px;border:2px solid rgba(0,0,0,0.7);border-bottom:2px solid rgba(0,0,0,0.7);border-top:2px solid #000;color:rgba(255,255,255,0.8);font-family:Helvetica, Arial, sans-serif;font-weight:bold;font-size:13px;text-decoration:none;text-shadow:0 -1px 0 rgba(0,0,0,0.75);box-shadow:inset 0 1px 0 rgba(255,255,255,0.05)}
.btn:hover{background:-webkit-linear-gradient(top, rgba(40,40,40,0.6), rgba(35,35,35,0.6) 50%, rgba(10,10,10,0.8) 50%, rgba(0,0,0,0.8))}
.btn .icon{display:inline-block;width:16px;height:16px;margin:1px 8px 0 0;float:left}
.btn-github .icon{opacity:0.6;background:url("../images/blacktocat.png") 0 0 no-repeat}
a{color:#63d8f5;text-shadow:0 0 5px rgba(104, 187, 255, 0.5);text-decoration: none;}
.cf:before,.cf:after{content:"";display:table}
.cf:after{clear:both}
.cf{zoom:1}
#a-title{text-decoration:none}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 963px 1463px #FFF , 1912px 689px #FFF , 120px 740px #FFF , 1020px 709px #FFF , 1440px 714px #FFF , 1534px 1824px #FFF , 330px 827px #FFF , 423px 363px #FFF , 1295px 1798px #FFF , 1915px 1841px #FFF , 824px 1434px #FFF , 1279px 1953px #FFF , 529px 485px #FFF , 1460px 1356px #FFF , 1866px 718px #FFF , 1582px 1579px #FFF , 929px 690px #FFF , 1756px 515px #FFF , 617px 99px #FFF , 1133px 663px #FFF , 1335px 273px #FFF , 1809px 1188px #FFF , 1356px 1594px #FFF , 49px 1577px #FFF , 1245px 243px #FFF , 544px 1399px #FFF , 527px 765px #FFF , 1904px 1640px #FFF , 1985px 284px #FFF , 1976px 1141px #FFF , 10px 1395px #FFF , 1148px 1261px #FFF , 236px 1608px #FFF , 36px 1807px #FFF , 444px 152px #FFF , 1230px 1089px #FFF , 1644px 1629px #FFF , 1505px 1045px #FFF , 957px 323px #FFF , 1264px 188px #FFF , 1971px 966px #FFF , 1817px 888px #FFF , 368px 1466px #FFF , 1882px 792px #FFF , 1223px 1505px #FFF , 1663px 961px #FFF , 1703px 772px #FFF , 835px 1308px #FFF , 1869px 1420px #FFF , 1789px 920px #FFF , 1257px 484px #FFF , 1574px 270px #FFF , 1306px 600px #FFF , 1501px 701px #FFF , 1985px 1716px #FFF , 1781px 1692px #FFF , 383px 1003px #FFF , 1914px 1496px #FFF , 1349px 4px #FFF , 901px 246px #FFF , 1750px 734px #FFF , 436px 1177px #FFF , 932px 1423px #FFF , 1118px 923px #FFF , 1936px 258px #FFF , 514px 1503px #FFF , 484px 1433px #FFF , 1261px 206px #FFF , 830px 921px #FFF , 767px 1452px #FFF;
    animation: animStar 50s linear infinite;
  }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 963px 1463px #FFF , 1912px 689px #FFF , 120px 740px #FFF , 1020px 709px #FFF , 1440px 714px #FFF , 1534px 1824px #FFF , 330px 827px #FFF , 423px 363px #FFF , 1295px 1798px #FFF , 1915px 1841px #FFF , 824px 1434px #FFF , 1279px 1953px #FFF , 529px 485px #FFF , 1460px 1356px #FFF , 1866px 718px #FFF , 1582px 1579px #FFF , 929px 690px #FFF , 1756px 515px #FFF , 617px 99px #FFF , 1133px 663px #FFF , 1335px 273px #FFF , 1809px 1188px #FFF , 1356px 1594px #FFF , 49px 1577px #FFF , 1245px 243px #FFF , 544px 1399px #FFF , 527px 765px #FFF , 1904px 1640px #FFF , 1985px 284px #FFF , 1976px 1141px #FFF , 10px 1395px #FFF , 1148px 1261px #FFF , 236px 1608px #FFF , 36px 1807px #FFF , 444px 152px #FFF , 1230px 1089px #FFF , 1644px 1629px #FFF , 1505px 1045px #FFF , 957px 323px #FFF , 1264px 188px #FFF , 1971px 966px #FFF , 1817px 888px #FFF , 368px 1466px #FFF , 1882px 792px #FFF , 1223px 1505px #FFF , 1663px 961px #FFF , 1703px 772px #FFF , 835px 1308px #FFF , 1869px 1420px #FFF , 1789px 920px #FFF , 1257px 484px #FFF , 1574px 270px #FFF , 1306px 600px #FFF , 1501px 701px #FFF , 1985px 1716px #FFF , 1781px 1692px #FFF , 383px 1003px #FFF , 1914px 1496px #FFF , 1349px 4px #FFF , 901px 246px #FFF , 1750px 734px #FFF , 436px 1177px #FFF , 932px 1423px #FFF , 1118px 923px #FFF , 1936px 258px #FFF , 514px 1503px #FFF , 484px 1433px #FFF , 1261px 206px #FFF , 830px 921px #FFF , 767px 1452px #FFF;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1927px 432px #FFF , 1282px 461px #FFF , 1257px 78px #FFF , 1578px 878px #FFF , 1621px 295px #FFF , 766px 1280px #FFF , 736px 1502px #FFF , 755px 1923px #FFF , 190px 1199px #FFF , 1844px 1227px #FFF , 1648px 61px #FFF , 119px 102px #FFF , 680px 1663px #FFF , 1349px 1319px #FFF , 1011px 1067px #FFF , 1097px 271px #FFF , 1750px 964px #FFF , 383px 1533px #FFF , 225px 1745px #FFF , 38px 964px #FFF;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1927px 432px #FFF , 1282px 461px #FFF , 1257px 78px #FFF , 1578px 878px #FFF , 1621px 295px #FFF , 766px 1280px #FFF , 736px 1502px #FFF , 755px 1923px #FFF , 190px 1199px #FFF , 1844px 1227px #FFF , 1648px 61px #FFF , 119px 102px #FFF , 680px 1663px #FFF , 1349px 1319px #FFF , 1011px 1067px #FFF , 1097px 271px #FFF , 1750px 964px #FFF , 383px 1533px #FFF , 225px 1745px #FFF , 38px 964px #FFF;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1135px 971px #FFF , 673px 1005px #FFF , 810px 1800px #FFF , 1776px 500px #FFF , 1184px 1938px #FFF , 275px 1660px #FFF , 1151px 235px #FFF , 585px 472px #FFF , 863px 944px #FFF , 1338px 384px #FFF;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1135px 971px #FFF , 673px 1005px #FFF , 810px 1800px #FFF , 1776px 500px #FFF , 1184px 1938px #FFF , 275px 1660px #FFF , 1151px 235px #FFF , 585px 472px #FFF , 863px 944px #FFF , 1338px 384px #FFF;
  }
  
  @keyframes animStar {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-2000px);
    }
  }
  